<div class="content">
  <div class="default-header">
    
    <div class="row">
      <h1 class="col">User Management</h1>
      <div class="mat-elevation-z8">
        <div class="rectangle" >
          <a class="col" style="text-align:center">Users</a>
          <a class="col" style="text-align:center" [routerLink] (click)= "goToGroupManagement()">Groups</a>
          <a class="col" style="text-align:center" [routerLink] (click)= "goToPermissionManagement()">Roles and Permissions</a>
        </div>
      </div>
      <button class="col" mat-raised-button color="primary" (click)="addUser()" class="add-button">
        Add user
      </button>
    </div>
    <div class="default-content">
      <div class="mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource | projectsfilter: searchText" matSort>
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell><!---->
            <mat-cell *matCellDef="let row">
              <a (click)="manageUser(row)" [routerLink] class="table-link">{{ row.username }}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="full_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Full name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.full_name }} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row" style="text-align: right">
              <button
                mat-icon-button
                matTooltip="Delete user"
                matTooltipClass="custom-tooltip"
                (click)="delete(row)"
                
              >
                <mat-icon aria-label="Delete user">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </div>

    <!--
    <table class="table table-bordered">
      <tr class="bg-primary">
        <th>created at</th>
        <th>email</th>
        <th>full name</th>
        <th>is active</th>
        <th>is superadmin</th>
        <th>updated_at</th>
        <th>user_id</th>
        <th>username</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.created_at }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.is_active }}</td>
        <td>{{ user.is_superadmin }}</td>
        <td>{{ user.updated_at }}</td>
        <td>{{ user.user_id }}</td>
        <td>{{ user.username }}</td>
        
        
      </tr>
      
      

    </table>
  -->
    
  </div>
</div>