.rectangle {
    width: 860px;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
}


.row {
    display: flex;
}

.add-button {
    height: 40px;
    width: 160px;
    margin: 20px;
  }

  a { 
    color: #F7F5F8;
}